*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 200px;
    height: 200px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 100%;
}

#counter{
    margin-top: 20px;
    text-align: center;
    font-size: 100px;
}

.container{
    text-align: center;
    margin-top: 30px;
}

aside{
    margin-left:20%;
}

button{
    font-size:20px;
    margin:7px;
    background-color: rgb(50, 50, 225);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(71, 98, 234);
}

section{
    display: flex;
    align-items: center;

}

@media only screen and (max-width: 600px) {
    aside{
        margin-left: 0%;
    }
    section{
        display: flex;
        flex-direction: column;
    }
}

